@use "../utils/variables" as v;

.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: v.$breakLarge) {
        flex-direction: row;
        gap: 3rem;
        align-items: flex-start;
        .postsListWrapper{
          margin-top: 20px;
        }
    }
}

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    @media (min-width: v.$breakLarge) {
        width: 350px;
        position: sticky;
        top: 2rem;
    }
}

.postsListWrapper {
    margin-top:0px;
    flex: 1;
    min-width: 0;
}

.indexHeader {
    font-size: 3em;
}

/* Avatar sizes (default is M) - XS, S, M, L, XL */
.authorImageWrapper img.size-xs {
    height: 7rem;
    width: 7rem;
}

.authorImageWrapper img.size-s {
    height: 9rem;
    width: 9rem;
}

.authorImageWrapper img.size-m {
    height: 11rem;
    width: 11rem;
}

.authorImageWrapper img.size-l {
    height: 13rem;
    width: 13rem;
}

.authorImageWrapper img.size-xl {
    height: 15rem;
    width: 15rem;
}
